@import url('https://fonts.googleapis.com/css2?family=Protest+Guerrilla&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

@keyframes rotation {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(359deg);
  }
}

#start-btn, #restart-btn {
  background-color: #710000;
  color: white;
  padding: 20px;
  font-size: 20px;
  margin: 40px;
  border-radius: 10px;
  font-family: "Protest Guerrilla", sans-serif;
}

body {
  margin: 0;
  background-color: lightgray;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  font-family: "Roboto", sans-serif;
}

#splash-screen, #game-over-screen {
  background-image: url("../images/fondo.png");
  background-position: center;
  background-size: cover;
}

.container, .content-container{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  width: 80%;
  max-width: 1200px;
}

.wide-container {
  width: 80%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.wide-container img {
  width: 100%;
  max-width: 500px;
  margin: 50px;
}

h2, h3, p {
  margin: 0;
}

h2 {
  font-family: "Protest Guerrilla", sans-serif;
}

p {
  font-size: 14px;
}

.content-container {
  justify-content: space-between;
  gap: 50px;
  margin: 50px auto;
  width: 100%;
  max-width: 1200px;
}

.sub-container {
  display: flex;
  height: 200px;
  width: 80%;
  gap: 5%;
  border: 2px solid black;
  border-radius: 20px;
  padding: 10px;
  margin: 10px auto;
  justify-content: center;
  align-items: space-evenly;
  background-color: rgba(255, 255, 255, 0.5);
}

#controls-container, #enemies-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.control, .enemy {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  padding: 10px;
}

.control img {
  width: 70%;
  max-width: 150px;
}

.enemy img {
  height: 70%;
  max-height: 150px;
}

#name {
  font-size: 16px;
  padding: 10px;
  border: 2px solid black; 
  border-radius: 5px;
  width: 100%;
  max-width: 300px;
  margin: 10px 0;
  background-color:  rgba(255, 255, 255, 0.5);
}

#name::placeholder {
  color: #888;
  font-style: italic;
}

#game-box {
  background-color: darkgray;
  width: 800px;
  height: 800px;
  position: relative;
  overflow: hidden;
  user-select: none;
  background-image: url("../images/grass.jpg");
  background-position: center;
  background-size: cover;
  margin: 100px;
}

#timer, #score, #music-play-btn {
  position: absolute;
  top: 10px;
  left: 10px;
  background-color: rgba(255, 255, 255, 0.5);
  padding: 5px;
  border-radius: 5px;
  font-family: Arial, sans-serif;
  font-size: 18px;
}

#score {
  top: 40px;
}

#music-play-btn {
  top: 80px;
}

#music-play-btn img {
  width: 20px;
}

#game-screen, #game-over-screen {
  display: none;
}

#proyectile {
  animation: rotation 0.25s infinite linear;
}

#game-over-screen img {
  width: 30%;
  max-width: 300px;
  margin-top: 50px;
}

#game-over-screen h3 {
  width: 50%;
  margin: 30px;
}

#score-ranking {
  width: 45%;
  max-width: 600px;
  margin: 5px;
  background-color: rgba(255, 255, 255, 0.8);
  border: 2px solid black;
  border-radius: 10px;
  overflow: hidden;
}

#score-ranking li {
  justify-content: space-between;
  text-align: center;
  padding: 10px;
  border-bottom: 1px solid black;
}

#score-ranking li:nth-child(even) {
  background-color: rgba(0, 0, 0, 0.1);
}
